.color-option-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    min-width: initial;
    border: none;
}
.tiles-button {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
}

.product-options-root {
    border-bottom: none;
}