.footer-root {
    background-color:  #EFFFE3;
    margin: 0;
    padding: 0;
    max-width: 100vw !important;
}
.branding{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    padding: 2rem 1rem;
}

@media screen and (min-width: 900px) {
    .footer-root {
        padding: 0 4rem;
    }
}