.custom-quantity-container {
    display: flex;
    column-gap: 2rem;
    padding: 1rem;
    border-radius: 5px;
    /* max-width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.1); */
    background-color: white;
}